@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --background: #fff1f1;
  --secondaryColor: salmon;
  --secondaryTwoColor: #1bbb63;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  min-height: 3000px;
}

.text-secondaryColor {
  color: var(--secondaryColor) !important;
}

.text-secondaryTwoColor {
  color: var(--secondaryTwoColor);
}

.text-backgroundTwoColor {
  color: var(--background) !important;
}

.bg-secondaryColor {
  background-color: var(--secondaryColor);
}

.bg-secondaryTwoColor {
  background-color: var(--secondaryTwoColor);
}

.bg-mainColor {
  background-color: var(--background);
}

.text-costum-1 {
  color: #414141;
}

/* media query */
/* max-width 992px */
@media screen and (max-width: 992px) {
  /* navbar */
  /* end navbar */

  /* home */
  .social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .hero img {
    border-top-right-radius: 50% !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 10% !important;
    border-bottom-right-radius: 10% !important;
  }

  .margin-costum2 {
    margin-left: 0px !important;
  }

  .margin-costum {
    margin-left: 10px !important;
  }

  .btn {
    margin-top: 50px;
  }

  .home-text {
    text-align: center;
    margin-top: 50px;
  }

  .hero {
    margin-top: 100px;
  }
  /* end home */

  /* about */

  .Name-costum {
    justify-content: center !important;
  }

  .text-about {
    text-align: center;
  }

  .card-1 {
    border-top-right-radius: 50% !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 10% !important;
    border-bottom-right-radius: 10% !important;
  }

  .card-2 {
    /* model 1 */
    /* border-top-right-radius: 50% !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 10% !important;
    border-bottom-right-radius: 10% !important; */

    /* model 1 */
    border-top-right-radius: 10% !important;
    border-top-left-radius: 10% !important;
    border-bottom-left-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  }

  .card-about .about-img {
    border-top-right-radius: 50% !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 10% !important;
    border-bottom-right-radius: 10% !important;
  }
  /* end about */

  /* services */
  /* end services */

  /* portfolio */
  /* end portfolio */

  /* contact */
  /* end contact */
}
/* end mac-width 992px */

/* max-width 576px */
@media screen and (max-width: 576px) {
  /* navbar */
  .navbar-brand {
    margin-left: 20px;
  }
  /* end navbar */

  /* home */
  .hero img {
    width: 270px !important;
  }

  .social-media {
    margin-top: 30px;
  }
  /* end home */

  /* about */
  /* end about */

  /* services */
  /* end services */

  /* portfolio */
  /* end portfolio */

  /* contact */
  /* end contact */
}
/* end max-width 576px */
/* end media query */

/* navbar */
.nav-link {
  transition: 0.2s;
}
.nav-link:hover {
  color: var(--secondaryTwoColor) !important;
}
/* navbar */

/* section home */
button i {
  width: 30px;
}

section .container {
  height: 100vh;
}

#home .container .row {
  height: 100%;
}

.hero img {
  transition: 1s;
  border: 10px solid rgb(250, 128, 114);
  width: 300px;
  border-top-right-radius: 40%;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 15%;
}
/* end section home */

/* section About */
#about {
  padding-top: 80px !important;
  margin-top: 200px !important;
}

.box-name-costum {
  border-radius: 10%;
  background-color: #ffdfdf;
  box-shadow: 0 0 10px 2px rgba(250, 128, 114, 0.6);
}

.card-about {
  box-shadow: 0 0 10px 2px rgba(250, 128, 114, 0.6);
  background-color: #ffdfdf;
  overflow: hidden;
}

.card-1 {
  margin-top: -20px;
  /* model 1 */
  /* border-top-right-radius: 40%;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 15%; */

  /* model 2 */
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 0%;
}

.card-2 {
  /* model 1 */
  /* border-top-right-radius: 15%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 40%; */

  /* model 2 */
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 50%;
}

.card-about .about-img {
  width: 170px;
  border: 5px solid rgb(250, 128, 114);

  /* model 1 */
  /* border-top-right-radius: 50%;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 15%; */

  /* model 2 */
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 0%;
}

.skill-img {
  width: 100px;
  border-radius: 50%;
}
/* end sectione about */
