:root {
  --mainColor: #1a1d2e;
  --seconderyColor: #2f3244;
  --acsenColor: #4194d0;
  --acsenTwoColor: rgb(238, 163, 0);
  --seconderyTwoColor: #1e2031;
}

.acsenColor {
  color: var(--acsenColor) !important;
}

.bg-colorForm {
  background-color: #9ac4e2;
}

.acsenTwoColor {
  color: var(--acsenTwoColor) !important;
}

.bg-secondaryColor {
  background-color: var(--seconderyColor);
}

.bg-secondaryTwoColor {
  background-color: var(--seconderyTwoColor);
}

body {
  background-color: var(--mainColor);
  font-family: "ubuntu", sans-serif;
  min-height: 900px;
  color: #fff;
}

/* hero */

.btn-custom1 {
  background-color: var(--acsenColor);
  text-align: center;
  color: #fff;
  width: 90px;
  height: 45px;
  font-size: 1.2rem;
  transition: 0.4s;
}

.btn-custom1:hover {
  box-shadow: 0 0 7px #4194d0;
}

/*  */

#hero .home-img {
  width: 230px;
  border-radius: 50%;
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 4px #8cb4d1;
  transition: 0.4s;
  transition: all is ease-in-out;
}

#hero .home-img:hover {
  transform: rotate(-10deg);
  box-shadow: 4px 4px 10px #4194d0;
}

/* end hero */

.img-costum2 {
  width: 120px;
}

.div-costum {
  transition: 0.4s;
}

.div-costum:hover {
  transform: rotate(2deg);
}

.div-costum2 {
  transition: 0.4s;
}

.div-costum2:hover {
  transform: rotate(-2deg);
}

.img-costum3 {
  box-shadow: 0px 0px 7px #8cb4d1;
}

#abu .abu {
  color: #707172;
}

.abu {
  color: #707172;
}

.full-end {
  border-radius: 20px;
  box-shadow: 0 0 10px 1px #707172;
}

/* sertifikat */
.card {
  overflow: hidden;
  border-radius: 30px !important;
  background-color: var(--seconderyColor);
}

/* end sertifikat */
